.header {
    width: 80%;
    height: 5rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #1ab0dd;
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    text-decoration: inherit;
  
  }
 
.form-wrapper{

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav button_format { 
  margin-left: 10.5rem
}
.nav ul {
  text-align: center;
  list-style: none;
  display: flex;
  margin: 1.5rem;
  padding: 0;
  justify-content: center;

}

.nav li {
  margin-left: 2.5rem;
  font-size: 1.25rem;
}

.divider{
  width:55px;
  height:auto;
  display:inline-block;
}
.active {
  color: #e6fcfc;
}
